<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Dishify</title>
    <link rel="stylesheet" href="/public/css/aboutstyle.css">
</head>
<body>
    <header>
        <h1>Welcome to Dishify</h1>
        
    </header>
    <main>
        <section id="about">
            <h2>About Dishify</h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Dishify. All rights reserved.</p>
    </footer>
</body>
</html>
